<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <% if user.name.present? %>
	    <th><%= user.name %></th>
	  <% end %>
  </tr>
  <tr>
	  <th>introduction</th>
	  <% if user.introduction.present? %>
	  <th><%= user.introduction %></th>
	  <% end %>
  </tr>
</table>
<div class='row'>
  <% if current_user.id == user.id %>
      <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
      <% end %>
  <% end %>
</div>