.container.px-5.px-sm-0
  .row
    .col-md-3
      h2 User info
      = render 'info', user: @user
      h2.mt-3 New book
      = render 'books/form', book: @book
    .col-md-8.offset-md-1
      h2 Books
      - if @books.present?
        = render 'books/index', books: @books
      = render 'books/count_table', type: 'day'
      = render 'books/count_table', type: 'week'
      = render 'books/chart'
      = form_with model: @user, url: user_search_count_path(params[:id]), local: false, class: 'form-inline', method: 'get' do |f|
        .form-group
          input.form-control type='date' name='date'
        button.btn.btn-primary type='submit' 検索
      .day_of_count
